<html>
<meta http-equiv="Expires" content="0">
<meta http-equiv="Last-Modified" content="0">
<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
<meta http-equiv="Pragma" content="no-cache">
<script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>

<input type="hidden" name="suuid" id="suuid" value="{{ .suuid }}">
<input type="hidden" name="port" id="port" value="{{ .port }}">
<video id="livestream" controls autoplay muted></video>

<script src="/static/js/hls.js"></script>
<script type="text/javascript" src="/static/js/app.js?ver={{ .version }}"></script>
</script>
</html>